<aside class="col-12 col-md-2 p-0 bg-dark">
  <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
      <div class="collapse navbar-collapse">
          <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
              <li class="nav-item">
                  <a class="nav-link pl-0 text-nowrap" routerLinkActive="active"  routerLink='/home'><i class="fa fa-bullseye fa-fw"></i> <span class="font-weight-bold">Home</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link pl-0" routerLink='/settings'><i class="fa fa-heart-o fa-fw"></i> <span class="d-none d-md-inline">Settings</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link pl-0" href="javascript:void(0)"><i class="fa fa-book fa-fw"></i> <span class="d-none d-md-inline">Profile</span></a>
              </li>
          </ul>
      </div>
  </nav>
</aside>